<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <meta charset="UTF-8">
    <title>Tilføj træning</title>
</head>
<body>
<div class="container">
    <h1>Tilføj træning</h1>
    <form method="post" th:action="@{/training_create}" >

        <label>Dato</label>
        <input type="date" th:field="${training.date}"/>
        <label>Start tid</label>
        <input type="time" th:field="${training.startime}"/>
        <label>Slut tid</label>
        <input type="time" th:field="${training.endTime}"/>
        <label>Note</label>
        <textarea type="text" th:field="${training.note}"></textarea>


        <input type="submit" class="btn-primary" value="Gem"/>

    </form>


    <a href="/competitions"><button class="btn-primary " >Annuller</button></a>
</div>

</body>
</html>